.cards-product > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-product > ul > li {
  border: none;
  border-radius: 15px;
  background-color: var(--background-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.cards-product .cards-product-card-body {
  margin: 12px 16px;
}

.cards-product .cards-product-card-body p {
  margin: 4px 0;
}

.cards-product .cards-product-card-body p:first-child {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.cards-product .cards-product-card-body p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ddd;
}

.cards-product .cards-product-card-body p:last-child a:any-link {
  display: inline-block;
  background-color: #adb5bd;
  color: #fff;
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 0.85rem;
  border: none;
  margin: 4px 0;
  text-decoration: none;
}

.cards-product .cards-product-card-image {
  line-height: 0;
}

.cards-product > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
