.hero-gradient-container .hero-gradient-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-gradient {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-gradient h1,
.hero-gradient h2,
.hero-gradient h3,
.hero-gradient h4,
.hero-gradient h5,
.hero-gradient h6,
.hero-gradient p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-gradient.no-image * {
  color: var(--text-color);
}

.hero-gradient picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-gradient img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-gradient {
    padding: 40px 32px;
  }
}
