.cards-features > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-features > ul > li {
  border: none;
  border-radius: 15px;
  background-color: #f8f9fa;
  text-align: center;
  padding: 32px;
}

.cards-features .cards-features-card-body {
  margin: 0;
}

.cards-features .cards-features-card-body p:first-child {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.cards-features .cards-features-card-body p:last-child {
  font-size: 0.9rem;
  color: #666;
}

.cards-features .cards-features-card-image {
  line-height: 0;
}

.cards-features > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
