footer {
  background-color: #2c3e50;
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: #999;
  text-decoration: none;
}

footer .footer a:hover {
  color: #fff;
}

footer .footer strong {
  color: #fff;
  font-size: var(--body-font-size-m);
  display: block;
  margin-bottom: 12px;
}

/* columns block inside footer */
footer .footer .columns-wrapper {
  padding: 0;
}

footer .footer .columns > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (width >= 900px) {
  footer .footer .columns > div {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
  }
}

footer .footer .columns > div > div {
  color: #999;
  line-height: 1.8;
}

/* copyright section */
footer .footer .section:last-child {
  border-top: 1px solid rgb(255 255 255 / 10%);
  margin-top: 24px;
  padding-top: 24px;
}

footer .footer .section:last-child p {
  text-align: center;
  color: #888;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
